<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
    
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% include 'sub/navbar.html'	%}
    <div class="container">
      <br>
        {% block content %} {% endblock %}
    </div>

    {% include 'sub/js.html'	%}
  </body>
</html>