<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/833741008734519316/833801465864650752/icon.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/833741008734519316/833742349032226928/bootstrap.css" >
    
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% include 'sub/navbar.html'	%}

    <div class="container">
      <br>
        {% block content %} 
        {% endblock content%}
    </div>

    {% include 'sub/js.html'	%}
  </body>
</html>