<div class="container">

	<div class="row p-2">
		<div class="col-4 col-lg-2">Название</div>
		<div class="col-4 col-lg-2">Тип</div>
		<div class="col-4 col-lg-8">Описание</div>
	</div>
	<br>
	{% for charitem in user.inventory %}
	<div class="row p-2">
		<div class="col-6 col-lg-2">{{charitem.name}}</div>
		<div class="col-6 col-lg-2">{{charitem.type}}</div>
		<div class="d-block d-md-none w-100"></div>
		<div align="justify" class="col-12 col-lg-8">{{charitem.description}}</div>
	</div>
	{% endfor %}	
	
</div>