<div class="card">
	<div class="card-body">
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>
						<h4>
							{{enemy.name}}
						</h4>
					</th>
				</tr>
			</tbody>
		</table>
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>HP  : {{enemy.hp}}				</th>
					<th>Сила: {{enemy.strength}}	</th>
					<th>Вын.: {{enemy.stamina}}		</th>
					<th>Точ.: {{enemy.accuracy}}	</th>
					<th>Про.: {{enemy.durability}}</th>
				</tr>
				<tr>
					<th>Сме.: {{enemy.savvy}}			</th>
					<th>Зна.: {{enemy.knowledge}}	</th>
					<th>Воля: {{enemy.will}}			</th>
					<th>Шарм: {{enemy.charm}}			</th>
					<th></th>
				</tr>
			</tbody>
		</table>
		
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>Атака</th>
					<th>Шанс</th>
					<th>Урон</th>
				</tr>
				{% for attack in enemy.attack %}
				<tr>
					<td>{{attack.name}}</td>
					<td>{{attack.dice}}</td>
					<td>{{attack.damage}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>
						{{enemy.description | safe }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>