<div class="card">
	<div class="card-body">
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>
						<h4>
							{{enemy.name}}
						</h4>
					</th>
				</tr>
			</tbody>
		</table>
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>HP</th>
					<th>Сила</th>
					<th>Вын.</th>
					<th>Точ.</th>
					<th>Про.</th>
					<th>Сме.</th>
					<th>Зна.</th>
					<th>Воля</th>
					<th>Шарм</th>
				</tr>
				<tr>
					<td>{{enemy.hp}}</td>
					<td>{{enemy.strength}}</td>
					<td>{{enemy.stamina}}</td>
					<td>{{enemy.accuracy}}</td>
					<td>{{enemy.durability}}</td>
					<td>{{enemy.savvy}}</td>
					<td>{{enemy.knowledge}}</td>
					<td>{{enemy.will}}</td>
					<td>{{enemy.charm}}</td>
				</tr>
			</tbody>
		</table>
		
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>Атака</th>
					<th>Шанс</th>
					<th>Урон</th>
				</tr>
				{% for attack in enemy.attack %}
				<tr>
					<td>{{attack.name}}</td>
					<td>{{attack.dice}}</td>
					<td>{{attack.damage}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>
						{{enemy.description | safe }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>