<div class="container">

	<div class="row">
		<div class="col-3" 								>Статы</div>
		<div class="col-3" align="center"	>Тип</div>
		<div class="col-1" align="center"	>Очки</div>
		<div class="col-1" align="center"	>Мод</div>
		<div class="col-1" align="center"	>Сумма</div>
		<div class="col-3" align="center"	>Описание</div>
	</div>
	<br>
	{% for stat in user.stats %}
	<div class="row">
		<div class="col-3" 								>{{stat.name}}</div>
		<div class="col-3" align="center"	>{% if stat.type == "А" -%}	Активный {% elif stat.type == "П" -%}	Пассивный	{% endif %}</div>
		<div class="col-1" align="center"	>{{stat.value}}</div>
		<div class="col-1" align="center"	>{{stat.mod}}</div>{% set sum = stat.mod |int + stat.value | int -%}
		<div class="col-1" align="center"	>{{ sum }}</div>
		<div class="col-3" align="center"	>{{ stats[sum] }}</div>
	</div>
	{% endfor %}

	<div class="row">
		<div class="col-6"							 	>Свободные очки</div>
		<div class="col-1" align="center"	>{{ user.free_points }}</div>
	</div>

</div>