{% extends 'character/base.html' %}

{% block content %}
<thead>
	<tr>
		<th scope="col">Характеристика</th>
		<th scope="col">Тип</th>
		<th scope="col">Очки</th>
		<th scope="col">Мод</th>
		<th scope="col">Сумма</th>
		<th scope="col">Описание</th>
	</tr>
</thead>
<tbody>
	{% for stat in user.stats %}
	<tr class="table-active">
		<th scope="row">{{stat.name}}</th>
		<td>{% if stat.type == "А" -%}	Активный {% elif stat.type == "П" -%}	Пассивный	{% endif %}</td>
		<td>{{stat.value}}</td>
		<td>{{stat.mod}}</td>{% set sum = stat.mod |int + stat.value | int -%}
		<td>{{sum}}</td>
		<td>{{stats[sum]}}</td>
	</tr>
	{% endfor %}

	<tr class="table-active">
		<th scope="row">Свободные очки</th>
		<td></td>
		<td>{{ user.free_points }}</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</tbody>
{% endblock %}