<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{discord}}833801465864650752/icon.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css" >
    
    <title>
      {% block title %}{% endblock title %}
    </title>

  </head>
  <body>
    {% include 'sub/navbar.html'	%}

    <div class="container">
      <br>
      <table class="table table-hover">
        <tr>
          <th><h1>
              {% block title1 %}{% endblock title1 %}
          </h1></th>
          <td><br></td>
        </tr>
      </table>
      
      
    {% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>{{message}}</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

        {% block content %} 
        {% endblock content%}
    </div>

    {% include 'sub/js.html'	%}
  </body>
</html>