<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<a class="navbar-brand" href="#">HTRPG</a>
	
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index')}}">Домой
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('info')}}">Информация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('char_list')}}">Персонажи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('enemy_list')}}">Враги</a>
      </li>
    </ul>
  </div>
</nav>