{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Анкеты персонажей {% endblock %}</h1>

{% for link, char in chars.items() %}
	<div class="card mb-3 text-white bg-secondary" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{ url_for('static', filename='avatars/'+link+'.jpg') }}" class="card-img-top" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{ char.username }}</h5>
					<p class="card-text">{{ char.race }}, {{ char.age }}, {{ char.class }}</p>
					<a href="{{ link }}" class="btn btn-primary">Анкета</a>
					<a href="{{ url_for('get_user_profile_json', char=link) }}" class="btn btn-primary btn-secondary">JSON</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% endblock %}