{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>{% block title %}Анкета {{user.username}}{% endblock %}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-lg-5 order-1 order-lg-2">
			<img src="{{ url_for('static', filename='avatars/'+link+'.jpg') }}" class="img-fluid" alt="...">
		</div>
		<div class="col-12 col-lg-7 order-2 order-lg-1">{% include 'sub/info.html' %}</div>
	</div>
	<br>
	<div class="row">
		<div class="col-12">{% include 'sub/allinfo.html' %}</div>
	</div>
</div>

{% endblock %}