{% extends 'sub/base.html' %}

{% block content %}
<h1>{% block title %} Анкеты персонажей {% endblock %}</h1>

<div class="container">
	<div class="row">
		{% for link, char in chars.items() %}
			<div class="col-12 col-lg-6">
				{%   if char.status == 'Игрок'%}{% set card = 'secondary'%}
				{% elif char.status == 'NPC'	%}{% set card = 'success'  %}
				{% elif char.status == 'Мертв'%}{% set card = 'primary'	 %}
				{% endif%}
				<div class="card text-white bg-{{ card }} mb-3" style="max-width: 30rem;">
					<div class="row g-0">
						<div class="col-5">
							<img src="{{ url_for('static', filename='chars/avatars/'+link+'.jpg') }}" class="card-img-top" alt="...">
						</div>
						<div class="col-7">
							<div class="card-body">
								<h5 class="card-title">{{ char.username }}</h5>
								<p class="card-text">
									{{char.status}}<br>
									{{char.race}}	 <br>
									{{char.age}}	 <br>
									{{char.class}} <br>
								</p>
								<a href="{{ link }}" class="btn btn-primary">Анкета</a>
								<a href="{{ url_for('get_user_profile_json', char=link) }}" class="btn btn-primary btn-secondary">JSON</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}