<table class="table table-hover">
  <tbody>
		{% set tclass = 'class="table-active"'%}
		{% set row = 'scope="row"'%}
    <tr {{tclass}}><th {{row}}>Имя													</th><td>{{user.username}}				</td></tr>
    <tr {{tclass}}><th {{row}}>Статус												</th><td>{{user.status}}  				</td></tr>
    <tr {{tclass}}><th {{row}}>Раса													</th><td>{{user.race}}						</td></tr>
    <tr {{tclass}}><th {{row}}>Возраст											</th><td>{{user.age}}							</td></tr>
    <tr {{tclass}}><th {{row}}>Класс												</th><td>{{user.class}}						</td></tr>
    <tr {{tclass}}><th {{row}}>Отношение к									</th><td>													</td></tr>
    <tr {{tclass}}><th {{row}}>Богам												</th><td>{{user.relate_to_gods}}	</td></tr>
    <tr {{tclass}}><th {{row}}>Магии												</th><td>{{user.relate_to_magic}}	</td></tr>
    <tr {{tclass}}><th {{row}}>Техно												</th><td>{{user.relate_to_tech}}	</td></tr>
    <tr {{tclass}}><th {{row}}>Расам												</th><td>{{user.relate_to_races}}	</td></tr>
    <tr {{tclass}}><th {{row}}>Любимый метод решения проблем</th><td>{{user.methods}}					</td></tr>
    <tr {{tclass}}><th {{row}}>Наиболее важный предмет			</th><td>{{user.object}}					</td></tr>
    <tr {{tclass}}><th {{row}}>Пошлость											</th><td>{{user.lewdness}}				</td></tr>
    <tr {{tclass}}><th {{row}}>Кровавость										</th><td>{{user.guro}}						</td></tr>
	</tbody>
</table>