		<nav>
			<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
				<button class="btn btn-outline-primary btn-lg nav-link active" id="nav-biography-tab" 		data-bs-toggle="tab" data-bs-target="#nav-biography" 	role="tab" aria-controls="nav-biography" 	aria-selected="true" >Биография</button>
				<button class="btn btn-outline-primary btn-lg nav-link" 				id="nav-stats-tab"				data-bs-toggle="tab" data-bs-target="#nav-stats"			role="tab" aria-controls="nav-stats"			aria-selected="false">Характеристики</button>
				<button class="btn btn-outline-primary btn-lg nav-link" 				id="nav-achievements-tab"	data-bs-toggle="tab" data-bs-target="#nav-achievements"	role="tab" aria-controls="nav-achievements"	aria-selected="false">Достижения</button>
				<button class="btn btn-outline-primary btn-lg nav-link" 				id="nav-inventory-tab"		data-bs-toggle="tab" data-bs-target="#nav-inventory"	role="tab" aria-controls="nav-inventory"	aria-selected="false">Инвентарь</button>
				<button class="btn btn-outline-primary btn-lg nav-link" 				id="nav-perks-tab"				data-bs-toggle="tab" data-bs-target="#nav-perks"			role="tab" aria-controls="nav-perks"			aria-selected="false">Навыки</button>
				<button class="btn btn-outline-primary btn-lg nav-link" 				id="nav-relatives-tab"		data-bs-toggle="tab" data-bs-target="#nav-relatives"	role="tab" aria-controls="nav-relatives"	aria-selected="false">Близкие персонажи</button>
			</div>
		</nav>
		<br>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-biography"		 role="tabpanel" aria-labelledby="nav-biography-tab">		{% include 'menu/biography.html'	%}</div>
			<div class="tab-pane fade" 						 id="nav-stats" 			 role="tabpanel" aria-labelledby="nav-stats-tab">				{% include 'menu/stats.html' 			%}</div>
			<div class="tab-pane fade" 						 id="nav-achievements" role="tabpanel" aria-labelledby="nav-stats-tab">				{% include 'menu/achievements.html'%}</div>
			<div class="tab-pane fade" 						 id="nav-inventory" 	 role="tabpanel" aria-labelledby="nav-inventory-tab">		{% include 'menu/inventory.html'	%}</div>
			<div class="tab-pane fade" 						 id="nav-perks" 			 role="tabpanel" aria-labelledby="nav-conperkstact-tab">{% include 'menu/perks.html'			%}</div>
			<div class="tab-pane fade" 						 id="nav-relatives"		 role="tabpanel" aria-labelledby="nav-relatives-tab">		{% include 'menu/relatives.html'	%}</div>
		</div>
