<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<a class="navbar-brand" href="#">HTRPG</a>
	
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('index')}}"			>Домой</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('list_info')}}"     >Информация</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('list_chars')}}"    >Персонажи</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('list_enemies')}}"  >Враги</a></li>
	  <li class="nav-item"><a class="nav-link" href="{{ url_for('about')}}"			>О сайте</a></li>
	  
	  <div class="nav-item dropdown">
		<button class="nav-link btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

		{% if current_user.is_authenticated %}
		{{ current_user.username }}</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			  <a class="nav-link" href="{{ url_for('logout')}}">Выход</a>

		{% else %}
		Авторизация</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<a class="nav-link" href="{{ url_for('login')}}">Логин</a>
			<div class="dropdown-divider"></div>
			<a class="nav-link" href="{{ url_for('register')}}">Регистрация</a>
		{% endif %}

		</ul>
	  </div>

    </ul>
  </div>
</nav>